h3 {
	float: left;
	font-family: 'Lato', sans-serif;
	color: grey;
	letter-spacing: 2px;
	text-transform: uppercase;
}

#content{
	font-family: 'Lato', sans-serif;
}

#content img {
	width: 78%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	border-style: solid;
	border-color: grey;
	border-width: 10px;
}

#block {
	display: inline-block;
}

#block img {
	display: inline-block;
	width: 25%;
	height: auto;
	padding-top: 10px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}